@media (min-width: 768px) and (max-width: 1024px) {
    #nav-bar>.container>.text-nav{
        display: none;
    }
    #job-info>.container{
        display: grid;
        grid-column: auto auto ;
    }
    .cer-content{
        flex-direction: column;
        gap:30px;
    }
   .abc{
    display: grid;
    grid-template-columns: auto;
   }
}

